<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="templatePath" value="\\Svnaset02\遠州鉄道\1011410 資産経営課\99_個人フォルダ\446463_ユーン\開発\ShakenExport\Template.xlsx" />
		<add key ="apiToken" value =" FCDFGUrIws8lvHKIVlvynvYXD0oC94s3MdoLqlYa"/>
		<add key="apiToken2" value ="6rKUkkh02YUXVjgDKgoR2faCC9VFXc9VO06zjIco"/>
		<add key ="appId" value="5714"/>
		<add key ="appId2" value ="5716"/>
		<add key ="baseurl" value ="https://entetsu.cybozu.com"/>
		
		</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
</configuration>